@charset "utf-8";

.home {
	background: url('../images/login-home.png') no-repeat center center;
}

.login {
	padding-bottom: 120px;
}

.login-col {
	padding: 30px;
	border: 1px solid #ced4da;
}

.login-button {
	width: 100%;
	margin: 25px 0;
	height: 52px;
	border-radius: 3px;
}

.slider-button {
	margin: 0;
	border-radius: 3px;
}