@charset "utf-8";

.home {
	background: url('../images/registration-home.png') no-repeat center center;
}

.registration {
	padding-bottom: 120px;
}

.register-col {
	padding: 30px;
	border: 1px solid #ced4da;
}

.message-span {
	display: block;
	color: #bd2130;
}

.register-button {
	width: 100%;
	margin: 25px 0;
	height: 52px;
	border-radius: 3px;
}