@charset "utf-8";

.home {
	background: url('../images/about-home.png') no-repeat center center;
}

.milestones {
	margin-top: 82px;
	padding-bottom: 120px;
	color: #FFF;
}

.milestones .container-title > * {
	color: #FFF;
}

.milestones-description p:last-of-type {
	margin-bottom: 0;
}

.milestones-container {
	margin-top: 111px;
}

.milestone {
	text-align: center;
	font-weight: 300;
}

.milestone-icon {
	height: 82px;
}

.milestone-icon img {
	max-height: 100%;
}

.milestone-text {
	font-size: 18px;
	margin-top: -3px;
}

.milestone-counter {
	font-size: 36px;
	margin-top: 43px;
}

.services {
	padding-bottom: 109px;
}

.icon-box-image {
	display: inline-block;
	height: 62px;
}

.svg path,
.svg rect,
.svg polygon {
	fill: #afafaf;
	transition: all 200ms ease;
}

.icon-box:hover .svg path,
.icon-box:hover .svg rect,
.icon-box:hover .svg polygon {
	fill: #D67F1E;
	transition: all 400ms ease;
}

.icon-box svg {
	height: 62px;
	width: auto;
}

.icon-box-title {
	display: inline-block;
	vertical-align: bottom;
	font-size: 24px;
	font-weight: 300;
	color: #131a2f;
	padding-left: 22px;
}

.icon-box-text {
	margin-top: 14px;
}

.icon-box p:last-of-type {
	margin-bottom: 0;
}