@charset "utf-8";

.home {
	background: url('../images/details-home.png') no-repeat center center;
}

.details {
	padding-bottom: 120px;
}

.details h3 {
	font-size: 18px;
	margin: 10px 0;
}

.item-content {
	margin-top: -4px;
}

.item-content ul {
	margin: 10px 0;
}

.item-content .item-meta li {
	display: inline-block;
	color: #878c9b;
}

.item-content .item-meta li:not(:last-of-type)::after {
	content:'/';
	margin-left: 5px;
}

.item-content ul {
	list-style-type: circle;
	list-style-position: inside;
	text-align: justify;
}

.item-content ul li {
	margin: 5px 0;
}

.item-price,
.item-hotel,
.item-hotel a {
	font-size: 16px;
	font-weight: 500;
	color: #131a2f;
}

.item-hotel a:hover {
	color: #878c9b;
}

.item-title {
	font-size: 28px;
	font-weight: 500;
	color: #131a2f;
}

.item-text {
	font-size: 15px;
	line-height: 2;
	margin-top: 11px;
	text-align: justify;
}

.resident-to-cart {
	border-radius: 3px;
	border: 1px solid #ddd;
	margin-top: 25px;
	padding: 30px;
	color: #000;
}

form h3.inner {
	margin: -30px -30px 20px -30px;
	background-color: #D67F1E;
	padding: 10px 20px 10px 18px;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.numbers-row {
	position: relative;
	width: 100%;
	height: 52px;
}

.numbers-row input {
	position: relative;
	width: calc(100%/3);
	height: 40px;
	border-radius: 0;
	text-align: center;
	left: calc(100%/3);
	font-size: 12px;
	padding: 5px;
}

.inc {
	background: #fff url(../images/plus.png) no-repeat center center;
	right: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.dec {
	background: #fff url(../images/minus.png) no-repeat center center;
	left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.inc-button {
	text-indent: -9999px;
	cursor: pointer;
	position: absolute;
	width: calc(100%/3);;
	height: 40px;
	z-index: 9;
	top: 0;
	border: 1px solid #ccc;
}

.resident-price {
	text-align: center;
}

.resident-price > * {
	display: inline-block;
	font-size: 18px;
}

.resident-price span {
	margin: 0 15px;
	font-weight: 600;
}

