@charset "utf-8";

.home {
	background: url('../images/offers-home.png') no-repeat center center;
}

.filters-group-sorting,
.filters-group-icons ul {
	float: left;
}

.filters-group-icons {
	float: right;
}

.filters-group-icons ul li {
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	color: #9195a3;
	margin-right: 30px;
	line-height: 36px;
}

.filters-group-icons ul li:last-child {
	margin-right: 0;
}

.offers {
	width: 100%;
	padding-bottom: 114px;
}

.sorting > li {
	display: inline-block;
	position: relative;
	width: 132px;
	height: 36px;
	line-height: 32px;
	cursor: pointer;
	border: solid 2px #dbdbdb;
	padding: 0 7px 0 15px;
	font-size: 12px;
	font-weight: 500;
	color: #131a2f;
	margin: 0 16px 10px 0;
}

.sorting li i {
	float: right;
	line-height: 32px;
	font-size: 18px;
	color: #d0d0d0;
}

.sorting li ul {
	position: absolute;
	right: 0;
	width: 100%;
	background: #FFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	transition: all 0.3s ease;
}

.sorting > li:hover ul {
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}

.sorting li ul li {
	padding: 0 15px;
}

.sorting li ul li span {
	display: block;
	line-height: 36px;
	border-bottom: solid 1px #ddd;
	color: #131a2f;
	transition: all 0.3s ease;
}

.sorting li ul li span:hover {
	color: #b5aec4;
}

.sorting li ul li:last-child span {
	border-bottom: none;
}

.offers-content {
	margin-top: 90px;
}

.offers-item {
	margin-bottom: 35px;
}

.offers-item.box,
.offers-item.box .item-content {
	 width: 50%;
	 float: left;
 }

.item-image {
	width: 25%;
	float: left;
}

.offers-item.box .item-image {
	width: 50%;
}

.item-content {
	width: 75%;
	padding-left: 29px;
	margin-top: -4px;
	float: left;
}

.item-content ul {
	margin-top: 13px;
}

.item-content ul li {
	display: inline-block;
	font-size: 12px;
	color: #878c9b;
}

.item-content ul li:not(:last-of-type)::after {
	content:'/';
	margin-left: 5px;
}

.item-price {
	font-size: 14px;
	font-weight: 500;
	color: #131a2f;
}

.item-title {
	font-size: 20px;
	font-weight: 500;
	color: #131a2f;
	margin-top: 1px;
}

.item-text {
	font-size: 15px;
	line-height: 2;
	margin-top: 11px;
	text-align: justify;
}

.offers-item.box .item-text {
	display: none;
}

.item-more {
	margin-top: 28px;
}

.item-more a {
	font-size: 12px;
	color: #131a2f;
	transition: all 200ms ease;
}

.sorting-icons > * {
	float: left;
	font-size: 20px;
	cursor: pointer;
}

.detailed-view {
	margin: 0 16px 0 36px;
}

.sorting-icons span {
	transition: all 200ms ease;
}

.sorting-icons span:hover,
.item-more a:hover {
	color: #D67F1E;
}